@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Mixin for media queries
@mixin respond-to($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// Breakpoints
$breakpoint-xl: 1440px;
$breakpoint-lg: 991.98px;
$breakpoint-md: 767.98px;
$breakpoint-sm: 575.98px;
$breakpoint-xs: 320.98px;

:root {
  --background: #faf9f6;
  --theme-color: #4cbb17;
  --text-color: #333333;
  --white: #ffffff;
  --black: #000000;
}

html {
  font-size: 16px;
  overflow-x: hidden;

  @include respond-to($breakpoint-xl) {
    font-size: 14px !important; // xl
  }

  @include respond-to($breakpoint-lg) {
    font-size: 12px !important; // lg
  }

  @include respond-to($breakpoint-md) {
    font-size: 14px !important; // md
  }

  @include respond-to($breakpoint-sm) {
    font-size: 13px !important; // sm
  }

  @include respond-to($breakpoint-xs) {
    font-size: 11px !important; // xs
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  overflow-x: hidden;
  font-family: "Axiforma-regular", sans-serif;
}
