@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("../public/css/fonts.css");
// @import url("../public/variables.scss");

html {
  font-size: 16px;
  overflow-x: hidden;

  @include respond-to($breakpoint-xl) {
    font-size: 14px !important; // xl
  }

  @include respond-to($breakpoint-lg) {
    font-size: 12px !important; // lg
  }

  @include respond-to($breakpoint-md) {
    font-size: 14px !important; // md
  }

  @include respond-to($breakpoint-sm) {
    font-size: 13px !important; // sm
    section,
    footer {
      @apply py-8 px-2;
    }
    .innerBanner {
      @apply px-2;
    }
  }

  @include respond-to($breakpoint-xs) {
    font-size: 11px !important; // xs
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  overflow-x: hidden;
  font-family: "Axiforma-regular", sans-serif;
}

section {
  padding: 6rem 0;
}

.secHeading {
  @apply text-[2.25rem] text-[var(--black)] font-bold relative inline-block;
  &::before {
    content: "";
    @apply absolute bottom-0 left-0 w-full h-0.5;
    background: linear-gradient(to left, var(--theme-color), transparent);
  }
  & + p {
    @apply mt-3;
  }
}
